html,
body,
input,
button,
select,
textarea {
  font: 18px/1.2 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, arial, sans-serif;  
}

header {
  color: #646462;
  text-align: center;
  width: 100%;
  height: 0px;
  background-size: 100%;
  padding-bottom: 70%;
}

header #splash {
  width: 100%;
  height: auto;
}

header #logo {
  width: 80px;
  height: auto;
}

header .container {
  margin-top: -58%;
}

header h1 {
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 10px;
}

header p#description {
  display: none;
}

main p#description {
  display: block;
  text-align: center;
  font-size: 17px;
  margin: 20px 0px 30px 0px;
}

ul.links {
  text-align: center;
  padding: 0px;
  margin: 30px 0px 0px 0px;
  font-size: 16px;
}

.link {
  display: inline-block;
}

.link a {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  color: #646462;
  font-weight: 700;
  margin: 0px 2px;
}

main section {
  padding-top: 20px;
}

section#hello {
  background-color: #f2f2f0;
  padding-top: 0px;
}

section#hello h1 {
  font-weight: 700;
  color: #676765;
  letter-spacing: -2px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
  border: 0px;
}

section#datasets {

}

section h1 {
  font-weight: 100;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 15px;
}

/*
* STATE
*/

.state {

}

.state h2 {

}

.state > ul {
  
}


/*
* COUNTY
*/

.county {

}

.county h3 {

}

.county > ul {
  
}


/*
* CITY
*/

.city {

}

.city h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.city > ul {
  
}

footer {
  background-color: #646462;
  padding: 20px 0px;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

@media only screen and (min-width: 400px){
  header #logo {
    width: 120px;
  }
}

@media only screen and (min-width: 580px){
  header #logo {
    width: 150px;
  }

  header .container {
    margin-top: -54%;
  }

  header h1 {
    font-size: 50px;
  }

  header p#description {
    display: block;
  }

  main p#description {
    display: none;
  }

  section#hello {
    background-color: #fff;
    padding-top: 0px;
    width: 60%;
    margin: 0px auto;
  }

  section#hello h1 {
    font-size: 40px;
  }
}